@media (max-width: 430px) {
  .button {
    min-width: 50vw !important;
  }
  .input {
    min-width: 50vw !important;
  }
}

.button {
  columns: #fff;
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px;
  border: 2px solid #fff;
  text-decoration: none;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  background: none;
  color: white;
}
.addButton:hover {
  background-color: #45a049;
}
