.checkbox {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #4caf50;
  background-color: #fff;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  margin-right: 8px;
}

.checkbox:checked {
  background-color: red;
  border: 2px solid #af4c4c;
}

.task {
  display: flex;
  color: white;
  margin-bottom: 10px;
  font-size: 18px;
}

.completedTask {
  text-decoration: line-through;
  color: rgb(250, 2, 2);
}
