@media (max-width: 430px) {
  .button {
    min-width: 50vw !important;
  }
  .input {
    min-width: 50vw !important;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #c1ddc2;
}
.header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
}

.copyright {
  text-decoration: none;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.247);
  border-radius: 10px;
  bottom: 2%;
  color: #fff;
  font-family: Roboto, sans-serif;
  padding: 10px 20px;
  position: absolute;
}

a {
  margin-left: 10px;
  text-decoration: none;
  color: red;
}

.taskList {
  color: rgb(218, 64, 64);
  margin-bottom: 10px;
  font-size: 20px;
}

.checkbox {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #4caf50;
  background-color: #fff;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  margin-right: 8px;
}

.checkbox:checked {
  background-color: red;
  border: 2px solid #af4c4c;
}

.task {
  display: flex;
  color: white;
  margin-bottom: 10px;
  font-size: 18px;
}

.completedTask {
  text-decoration: line-through;
  color: rgb(250, 2, 2);
}
